@font-face {
  font-family: 'MonaSans'; /* Name for the font */
  src: url('/fonts/Mona Sans/MonaSansExpanded-Medium.ttf') format('truetype');
  font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'MonaSans-medium'; /* Name for the font */
  src: url('/fonts/Mona Sans/MonaSans-Medium.ttf') format('truetype');
  font-weight: normal;
font-style: normal;
}

.header {
  background-color: #040404; /* Black background */
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.250em;
  font-family: 'MonaSans';
}

.logo a{
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 1.250em;
}

.logo img {
  width: 36px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  grid-column-gap: var(--globals--gaps--gap-medium);
  justify-content: space-between;
  align-items: center;
  display: flex;
  
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  font-size: 16px;
  font-weight: 500;
  color: #F3F3F3;
  text-transform: uppercase; /* Added uppercase style */
  font-family: 'MonaSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}


.profile-icon {
  display: flex;
  align-items: center;
  color: #F3F3F3;
}

.profile-icon img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.profile-icon p {
  font-size: 18px;
}

.block {
  text-align: center;
  background-color: #040404;
  border-radius: 15px;
  width: 100px;
  align-items: center;
}

.wrap {
  display: inline-block;
}

#reservation-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
}

#search111 {
  color: #F3F3F3;
  border: 1px solid #040404;
  border-radius: 30px;
  padding: 10px 15px;
  background-color: #383838;
  font-size: 8px;
  width: 180px;
  font-family: 'MonaSans-medium';
  
}




/* Clear Fix */
.clear {
  clear: both;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #040404;
    min-width: 150px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-menu a {
    color: #F3F3F3;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle {
    color: F3F3F3;
    cursor: pointer;
    padding: 10px;
    background-color: #040404;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    
}

.profile-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-icon img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-links {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-links li {
      margin: 10px 0;
  }
}
